{"swagger":"2.0","info":{"description":"<B>用于222前端、测试等人员查222看和接口测试</B></br>为便于学习，文档描述的为湘能物业简化版接口，业务与湘能物业web存在一定差异，接口测试时相关业务需求以本文档为准。</br><B>1.URL格式：</B></br>http://ip:port/smarthome/apiName</br><B>接口公共URL部分为http://ip:port/smarthome/</B></br>如部署接口的主机IP为47.106.236.176，端口号为7001，那么接口公共URL部分为http://47.106.236.176:7001/smarthome/</br>如果配置了域名，比如域名\"wy.lemonban.com\"映射到的ip是：47.106.236.176，端口号为7001，那么接口公共URL部分用域名+端口表示也可以：http://wy.lemonban.com:7001/smarthome/</br><B>2.请求头</B></br>\t<table><tr><td>请求头</td><td>可选值</td><td>备注</td></tr>\t<tr><td rowspan='3'></td><td>lemonban.v1</td><td>接口无鉴权</td></tr>\t<tr><td><B>X-Lemonban-Media-Type</B></td><td>lemonban.v2</td><td>token鉴权</td></tr>\t<tr><td></td><td>lemonban.v3</td><td>timestamp+token+sign鉴权，</br>其中sign= RSA(token前50位+时间戳)</td></tr>\t<tr><td><B>Content-Type</B></td><td>application/json</td><td>POST、PATCH请求必须设置，GET请求不设置</td></tr>\t<tr><td><B>Authorization</B></td><td>Bearer Token</td><td>X-Lemonban-Media-Type请求头的值为lemonban.v2或lemonban.v3时，</br>必须添加此请求头，lemonban.v1时无需添加。</br>值的格式为'Bearer token_value'，其中token_value是登录成功后返回token_info中的token值。</br>注意Bearer后有空格。</td></tr>\t<tr><td></td><td></td><td></td></tr>\t</table><B>3.响应体</B></br></br>响应体为json对象，包含code、msg、data三个字段</br></br>code：返回码</br></br>msg：返回提示消息</br></br>data：返回数据，为对象或数组。</br></br><B>4.通用返回码及各终端加密方式：http://47.106.236.176:7001/smarthome/file/通用返回码及各终端加密方式.docx</B></br></br><B>5.后续说明待完善</B></br></br><B>6.接口如下：</B></br>","version":"1.0.0.1","title":"湘能物业接口文档"},"host":"wy.lemonban.com:7001","basePath":"/smarthome","tags":[{"name":"10-旧货、需求发布相关操作","description":"Junk Requirement Controller"},{"name":"04-商户信息相关操作","description":"Merchant Controller"},{"name":"08-房屋相关操作","description":"Room Controller"},{"name":"09-业主相关操作","description":"Owner Controller"},{"name":"03-系统用户相关操作","description":"User Controller"},{"name":"11-出租相关操作","description":"Rent Controller"},{"name":"06-楼栋相关操作","description":"Building Controller"},{"name":"01-文件相关操作","description":"File Controller"},{"name":"05-小区相关操作","description":"Community Controller"},{"name":"02-短信验证码相关操作","description":"Verification Code Controller"},{"name":"07-单元相关操作","description":"Unit Controller"}],"paths":{"/building/add":{"post":{"tags":["06-楼栋相关操作"],"summary":"添加楼栋--【作者：柠檬班】","operationId":"addUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"token令牌","required":false,"type":"string"},{"name":"X-Lemonban-Media-Type","in":"header","description":"接口鉴权版本","required":false,"type":"string"},{"name":"Content-Type","in":"header","description":"数据格式","required":false,"type":"string"},{"in":"body","name":"buildingDto","description":"buildingDto","required":true,"schema":{"$ref":"#/definitions/BuildingDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult«BuildingVO»"}}},"x-order":"2147483647"}},"/building/{page}/{size}/list":{"get":{"tags":["06-楼栋相关操作"],"summary":"楼栋信息列表","operationId":"listUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"token令牌","required":false,"type":"string"},{"name":"X-Lemonban-Media-Type","in":"header","description":"接口鉴权版本","required":false,"type":"string"},{"name":"Content-Type","in":"header","description":"数据格式","required":false,"type":"string"},{"name":"page","in":"path","description":"当前第几页（必填）","required":true,"type":"integer","format":"int64"},{"name":"size","in":"path","description":"每页几条数据（必填）","required":true,"type":"integer","format":"int64"},{"name":"buildingId","in":"query","description":"楼栋ID（非必填）","required":false,"type":"integer","format":"int64"},{"name":"buildingNum","in":"query","description":"楼栋编号（非必填）","required":false,"type":"string"},{"name":"buildingName","in":"query","description":"楼栋名称（非必填）","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult«IPage«Building»»"}}},"x-order":"2147483647"}},"/community/add":{"post":{"tags":["05-小区相关操作"],"summary":"添加小区--【作者：柠檬班】","operationId":"addUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"token令牌","required":false,"type":"string"},{"name":"X-Lemonban-Media-Type","in":"header","description":"接口鉴权版本","required":false,"type":"string"},{"name":"Content-Type","in":"header","description":"数据格式","required":false,"type":"string"},{"in":"body","name":"communityDto","description":"communityDto","required":true,"schema":{"$ref":"#/definitions/CommunityDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult«Community»"}}},"x-order":"2147483647"}},"/community/examine":{"post":{"tags":["05-小区相关操作"],"summary":"审核小区--【作者：柠檬班】","operationId":"examineUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"token令牌","required":false,"type":"string"},{"name":"X-Lemonban-Media-Type","in":"header","description":"接口鉴权版本","required":false,"type":"string"},{"name":"Content-Type","in":"header","description":"数据格式","required":false,"type":"string"},{"in":"body","name":"communityExamineDto","description":"communityExamineDto","required":true,"schema":{"$ref":"#/definitions/CommunityExamineDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult«string»"}}},"x-order":"2147483647"}},"/community/in":{"post":{"tags":["05-小区相关操作"],"summary":"申请入驻小区--【作者：柠檬班】","description":"不需要设置Content-Type","operationId":"inUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"token令牌","required":false,"type":"string"},{"name":"X-Lemonban-Media-Type","in":"header","description":"接口鉴权版本","required":false,"type":"string"},{"name":"Content-Type","in":"header","description":"数据格式","required":false,"type":"string"},{"name":"communityId","in":"query","description":"小区ID（必填）","required":true,"type":"integer","format":"int64"},{"name":"userId","in":"query","description":"用户ID（必填）","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult«CommuMember»"}}},"x-order":"2147483647"}},"/community/in/examine":{"post":{"tags":["05-小区相关操作"],"summary":"审核入驻小区申请--【作者：柠檬班】","operationId":"inExamineUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"token令牌","required":false,"type":"string"},{"name":"X-Lemonban-Media-Type","in":"header","description":"接口鉴权版本","required":false,"type":"string"},{"name":"Content-Type","in":"header","description":"数据格式","required":false,"type":"string"},{"in":"body","name":"cieDto","description":"cieDto","required":true,"schema":{"$ref":"#/definitions/CommunityInExamineDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult«string»"}}},"x-order":"2147483647"}},"/file/upload":{"post":{"tags":["01-文件相关操作"],"summary":"上传文件--【作者：柠檬班】","description":"不需要设置Content-Type","operationId":"uploadUsingPOST","consumes":["multipart/form-data"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"token令牌","required":false,"type":"string"},{"name":"X-Lemonban-Media-Type","in":"header","description":"接口鉴权版本","required":false,"type":"string"},{"name":"Content-Type","in":"header","description":"数据格式","required":false,"type":"string"},{"name":"file","in":"formData","description":"文件（必填,jpg、png，最大100KB）","required":true,"type":"file"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult«string»"}}},"x-order":"2147483647"}},"/junkRequirement/publish":{"post":{"tags":["10-旧货、需求发布相关操作"],"summary":"旧货、需求发布--【作者：柠檬班】","operationId":"publishUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"token令牌","required":false,"type":"string"},{"name":"X-Lemonban-Media-Type","in":"header","description":"接口鉴权版本","required":false,"type":"string"},{"name":"Content-Type","in":"header","description":"数据格式","required":false,"type":"string"},{"in":"body","name":"jrDto","description":"jrDto","required":true,"schema":{"$ref":"#/definitions/JunkRequirementDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult«JunkRequirementVO»"}}},"x-order":"2147483647"}},"/merchant/complete":{"put":{"tags":["04-商户信息相关操作"],"summary":"完善公司信息--【作者：柠檬班】","operationId":"completeUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"token令牌","required":false,"type":"string"},{"name":"X-Lemonban-Media-Type","in":"header","description":"接口鉴权版本","required":false,"type":"string"},{"name":"Content-Type","in":"header","description":"数据格式","required":false,"type":"string"},{"in":"body","name":"merchantDto","description":"merchantDto","required":true,"schema":{"$ref":"#/definitions/MerchantDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult«MerchantDto»"}}},"x-order":"2147483647"}},"/owner/add":{"post":{"tags":["09-业主相关操作"],"summary":"添加业主--【作者：柠檬班】","operationId":"addUsingPOST_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"token令牌","required":false,"type":"string"},{"name":"X-Lemonban-Media-Type","in":"header","description":"接口鉴权版本","required":false,"type":"string"},{"name":"Content-Type","in":"header","description":"数据格式","required":false,"type":"string"},{"in":"body","name":"ownerDto","description":"ownerDto","required":true,"schema":{"$ref":"#/definitions/OwnerDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult«OwnerVO»"}}},"x-order":"2147483647"}},"/owner/bind":{"post":{"tags":["09-业主相关操作"],"summary":"绑定业主--【作者：柠檬班】","operationId":"bindUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"token令牌","required":false,"type":"string"},{"name":"X-Lemonban-Media-Type","in":"header","description":"接口鉴权版本","required":false,"type":"string"},{"name":"Content-Type","in":"header","description":"数据格式","required":false,"type":"string"},{"in":"body","name":"ownerBindDto","description":"ownerBindDto","required":true,"schema":{"$ref":"#/definitions/OwnerBindDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult«string»"}}},"x-order":"2147483647"}},"/owner/checkIn":{"post":{"tags":["09-业主相关操作"],"summary":"业主入住房屋--【作者：柠檬班】","operationId":"checkInUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"token令牌","required":false,"type":"string"},{"name":"X-Lemonban-Media-Type","in":"header","description":"接口鉴权版本","required":false,"type":"string"},{"name":"Content-Type","in":"header","description":"数据格式","required":false,"type":"string"},{"in":"body","name":"ownerRoomDto","description":"ownerRoomDto","required":true,"schema":{"$ref":"#/definitions/OwnerRoomDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult«OwnerRoomVO»"}}},"x-order":"2147483647"}},"/owner/login":{"post":{"tags":["09-业主相关操作"],"summary":"业主登录--【作者：柠檬班】","operationId":"loginUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"token令牌","required":false,"type":"string"},{"name":"X-Lemonban-Media-Type","in":"header","description":"接口鉴权版本","required":false,"type":"string"},{"name":"Content-Type","in":"header","description":"数据格式","required":false,"type":"string"},{"in":"body","name":"loginDto","description":"loginDto","required":true,"schema":{"$ref":"#/definitions/OwnerLoginDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult«Map«string,object»»"}}},"x-order":"2147483647"}},"/owner/room/{userId}":{"get":{"tags":["09-业主相关操作"],"summary":"我的房屋--【作者：柠檬班】","operationId":"myUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"token令牌","required":false,"type":"string"},{"name":"X-Lemonban-Media-Type","in":"header","description":"接口鉴权版本","required":false,"type":"string"},{"name":"Content-Type","in":"header","description":"数据格式","required":false,"type":"string"},{"name":"userId","in":"path","description":"用户ID（必填）","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult«List«RoomVO»»"}}},"x-order":"2147483647"}},"/rent/room/publish":{"post":{"tags":["11-出租相关操作"],"summary":"发布房屋出租--【作者：柠檬班】","operationId":"publishUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"token令牌","required":false,"type":"string"},{"name":"X-Lemonban-Media-Type","in":"header","description":"接口鉴权版本","required":false,"type":"string"},{"name":"Content-Type","in":"header","description":"数据格式","required":false,"type":"string"},{"in":"body","name":"rentDto","description":"rentDto","required":true,"schema":{"$ref":"#/definitions/RentDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult«RentVO»"}}},"x-order":"2147483647"}},"/room/add":{"post":{"tags":["08-房屋相关操作"],"summary":"添加房屋--【作者：柠檬班】","operationId":"addUsingPOST_3","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"token令牌","required":false,"type":"string"},{"name":"X-Lemonban-Media-Type","in":"header","description":"接口鉴权版本","required":false,"type":"string"},{"name":"Content-Type","in":"header","description":"数据格式","required":false,"type":"string"},{"in":"body","name":"roomDto","description":"roomDto","required":true,"schema":{"$ref":"#/definitions/RoomDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult«RoomVO»"}}},"x-order":"2147483647"}},"/unit/add":{"post":{"tags":["07-单元相关操作"],"summary":"添加单元--【作者：柠檬班】","operationId":"addUsingPOST_4","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"token令牌","required":false,"type":"string"},{"name":"X-Lemonban-Media-Type","in":"header","description":"接口鉴权版本","required":false,"type":"string"},{"name":"Content-Type","in":"header","description":"数据格式","required":false,"type":"string"},{"in":"body","name":"unitDto","description":"unitDto","required":true,"schema":{"$ref":"#/definitions/UnitDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult«UnitVO»"}}},"x-order":"2147483647"}},"/user/login":{"post":{"tags":["03-系统用户相关操作"],"summary":"管理端用户登录--【作者：柠檬班】","operationId":"loginUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"token令牌","required":false,"type":"string"},{"name":"X-Lemonban-Media-Type","in":"header","description":"接口鉴权版本","required":false,"type":"string"},{"name":"Content-Type","in":"header","description":"数据格式","required":false,"type":"string"},{"in":"body","name":"loginDto","description":"loginDto","required":true,"schema":{"$ref":"#/definitions/LoginDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult«Map«string,object»»"}}},"x-order":"2147483647"}},"/user/register":{"post":{"tags":["03-系统用户相关操作"],"summary":"用户注册--【作者：柠檬班】","operationId":"registeUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"token令牌","required":false,"type":"string"},{"name":"X-Lemonban-Media-Type","in":"header","description":"接口鉴权版本","required":false,"type":"string"},{"name":"Content-Type","in":"header","description":"数据格式","required":false,"type":"string"},{"in":"body","name":"userDto","description":"userDto","required":true,"schema":{"$ref":"#/definitions/UserDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult«UserVO»"}}},"x-order":"2147483647"}},"/verificationCode/message":{"get":{"tags":["02-短信验证码相关操作"],"summary":"获取短信验证码--【作者：柠檬班】","operationId":"getVerificationCodeUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"Authorization","in":"header","description":"token令牌","required":false,"type":"string"},{"name":"X-Lemonban-Media-Type","in":"header","description":"接口鉴权版本","required":false,"type":"string"},{"name":"Content-Type","in":"header","description":"数据格式","required":false,"type":"string"},{"name":"phone","in":"query","description":"手机号码（必填）","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BaseResult«string»"}}},"x-order":"2147483647"}}},"definitions":{"BaseResult«BuildingVO»":{"type":"object","properties":{"code":{"type":"string","example":"0","description":"返回code码"},"data":{"description":"返回数据","$ref":"#/definitions/BuildingVO"},"msg":{"type":"string","example":"操作成功","description":"返回描述"}}},"BaseResult«CommuMember»":{"type":"object","properties":{"code":{"type":"string","example":"0","description":"返回code码"},"data":{"description":"返回数据","$ref":"#/definitions/CommuMember"},"msg":{"type":"string","example":"操作成功","description":"返回描述"}}},"BaseResult«Community»":{"type":"object","properties":{"code":{"type":"string","example":"0","description":"返回code码"},"data":{"description":"返回数据","$ref":"#/definitions/Community"},"msg":{"type":"string","example":"操作成功","description":"返回描述"}}},"BaseResult«IPage«Building»»":{"type":"object","properties":{"code":{"type":"string","example":"0","description":"返回code码"},"data":{"description":"返回数据","$ref":"#/definitions/IPage«Building»"},"msg":{"type":"string","example":"操作成功","description":"返回描述"}}},"BaseResult«JunkRequirementVO»":{"type":"object","properties":{"code":{"type":"string","example":"0","description":"返回code码"},"data":{"description":"返回数据","$ref":"#/definitions/JunkRequirementVO"},"msg":{"type":"string","example":"操作成功","description":"返回描述"}}},"BaseResult«List«RoomVO»»":{"type":"object","properties":{"code":{"type":"string","example":"0","description":"返回code码"},"data":{"type":"array","description":"返回数据","items":{"$ref":"#/definitions/RoomVO"}},"msg":{"type":"string","example":"操作成功","description":"返回描述"}}},"BaseResult«Map«string,object»»":{"type":"object","properties":{"code":{"type":"string","example":"0","description":"返回code码"},"data":{"type":"object","description":"返回数据"},"msg":{"type":"string","example":"操作成功","description":"返回描述"}}},"BaseResult«MerchantDto»":{"type":"object","properties":{"code":{"type":"string","example":"0","description":"返回code码"},"data":{"description":"返回数据","$ref":"#/definitions/MerchantDto"},"msg":{"type":"string","example":"操作成功","description":"返回描述"}}},"BaseResult«OwnerRoomVO»":{"type":"object","properties":{"code":{"type":"string","example":"0","description":"返回code码"},"data":{"description":"返回数据","$ref":"#/definitions/OwnerRoomVO"},"msg":{"type":"string","example":"操作成功","description":"返回描述"}}},"BaseResult«OwnerVO»":{"type":"object","properties":{"code":{"type":"string","example":"0","description":"返回code码"},"data":{"description":"返回数据","$ref":"#/definitions/OwnerVO"},"msg":{"type":"string","example":"操作成功","description":"返回描述"}}},"BaseResult«RentVO»":{"type":"object","properties":{"code":{"type":"string","example":"0","description":"返回code码"},"data":{"description":"返回数据","$ref":"#/definitions/RentVO"},"msg":{"type":"string","example":"操作成功","description":"返回描述"}}},"BaseResult«RoomVO»":{"type":"object","properties":{"code":{"type":"string","example":"0","description":"返回code码"},"data":{"description":"返回数据","$ref":"#/definitions/RoomVO"},"msg":{"type":"string","example":"操作成功","description":"返回描述"}}},"BaseResult«UnitVO»":{"type":"object","properties":{"code":{"type":"string","example":"0","description":"返回code码"},"data":{"description":"返回数据","$ref":"#/definitions/UnitVO"},"msg":{"type":"string","example":"操作成功","description":"返回描述"}}},"BaseResult«UserVO»":{"type":"object","properties":{"code":{"type":"string","example":"0","description":"返回code码"},"data":{"description":"返回数据","$ref":"#/definitions/UserVO"},"msg":{"type":"string","example":"操作成功","description":"返回描述"}}},"BaseResult«string»":{"type":"object","properties":{"code":{"type":"string","example":"0","description":"返回code码"},"data":{"type":"string","description":"返回数据"},"msg":{"type":"string","example":"操作成功","description":"返回描述"}}},"Building":{"type":"object","properties":{"buildingId":{"type":"integer","format":"int64","example":1,"description":"楼栋ID"},"buildingName":{"type":"string","example":"1号楼","description":"楼栋名称"},"buildingNum":{"type":"string","example":"001","description":"楼栋编号"},"communityId":{"type":"integer","format":"int64","example":1,"description":"小区ID"},"createTime":{"type":"string","format":"date-time"},"createUserId":{"type":"integer","format":"int64"},"floorage":{"type":"number","example":300.0,"description":"建筑面积"},"remark":{"type":"string","example":"这是第一栋楼","description":"备注"}}},"BuildingDto":{"type":"object","required":["buildingName","buildingNum","communityId","floorage","userId"],"properties":{"buildingName":{"type":"string","example":"1号楼","description":"楼名称(必填，长度不能大于10)"},"buildingNum":{"type":"string","example":"001","description":"楼编号(必填，只能是数字)"},"communityId":{"type":"integer","format":"int64","example":1,"description":"小区ID(必填)"},"floorage":{"type":"number","example":300.0,"description":"建筑面积(必填，只能是大于0的数字)"},"remark":{"type":"string","example":"这是第一栋楼","description":"备注(非必填，长度不能大于50)"},"userId":{"type":"integer","format":"int64","example":1,"description":"用户ID(必填)"}}},"BuildingVO":{"type":"object","properties":{"buildingId":{"type":"integer","format":"int64","example":1,"description":"楼栋ID"},"buildingName":{"type":"string","example":"1号楼","description":"楼名称"},"buildingNum":{"type":"string","example":"001","description":"楼编号"},"communityId":{"type":"integer","format":"int64","example":1,"description":"小区ID"},"floorage":{"type":"number","example":300.0,"description":"建筑面积"},"remark":{"type":"string","example":"这是第一栋楼","description":"备注"},"userId":{"type":"integer","format":"int64","example":1,"description":"用户ID"}}},"CommuMember":{"type":"object","properties":{"commuMemberId":{"type":"integer","format":"int64","example":1,"description":"小区成员ID"},"communityId":{"type":"integer","format":"int64","example":1,"description":"小区ID"},"createTime":{"type":"string","format":"date-time"},"memberId":{"type":"integer","format":"int64","example":1,"description":"成员ID"},"memberType":{"type":"integer","format":"int32","example":2,"description":"成员类型1商户2物业3代理商4楼栋"},"operate":{"type":"string"},"state":{"type":"integer","format":"int32"}}},"Community":{"type":"object","properties":{"address":{"type":"string","example":"青海省西宁市城东区格兰小镇","description":"详细地址"},"communityId":{"type":"integer","format":"int64","example":1,"description":"小区ID"},"communityName":{"type":"string","example":"八家湾小区","description":"小区名称"},"createTime":{"type":"string","format":"date-time"},"nearbyLandmarks":{"type":"string","example":"王府井","description":"附近地标"},"state":{"type":"integer","format":"int32"}}},"CommunityDto":{"type":"object","required":["address","communityName","nearbyLandmarks","userId"],"properties":{"address":{"type":"string","example":"青海省西宁市城东区格兰小镇","description":"详细地址(必填，长度为1到30)"},"communityName":{"type":"string","example":"八家湾小区","description":"小区名称(必填，长度为5到10)"},"nearbyLandmarks":{"type":"string","example":"王府井","description":"附近地标(必填，长度为1到10)"},"userId":{"type":"integer","format":"int64","example":1,"description":"用户ID(必填)"}}},"CommunityExamineDto":{"type":"object","required":["communityId","remark","state"],"properties":{"communityId":{"type":"integer","format":"int64","example":1,"description":"小区ID(必填)"},"remark":{"type":"string","example":"通过或未通过的原因","description":"通过或未通过的原因(必填)"},"state":{"type":"integer","format":"int32","example":1,"description":"审核结果1审核通过2审核未通过(必填)"}}},"CommunityInExamineDto":{"type":"object","required":["commuMemberId","remark","state"],"properties":{"commuMemberId":{"type":"integer","format":"int64","example":1,"description":"小区成员关系ID(必填)"},"remark":{"type":"string","example":"通过或未通过的原因","description":"通过或未通过的原因(必填)"},"state":{"type":"integer","format":"int32","example":1,"description":"审核结果1审核通过2审核未通过(必填)"}}},"IPage«Building»":{"type":"object","properties":{"current":{"type":"integer","format":"int64"},"pages":{"type":"integer","format":"int64"},"records":{"type":"array","items":{"$ref":"#/definitions/Building"}},"searchCount":{"type":"boolean"},"size":{"type":"integer","format":"int64"},"total":{"type":"integer","format":"int64"}}},"JunkRequirementDto":{"type":"object","required":["classification","communityId","context","publishUserLink","referencePrice","type","userId"],"properties":{"classification":{"type":"integer","format":"int32","example":2,"description":"类别2电器8家具(必填)"},"communityId":{"type":"integer","format":"int64","example":1,"description":"小区ID(必填)"},"context":{"type":"string","example":"求购一张书桌","description":"内容(必填，长度为1到200)"},"publishUserLink":{"type":"string","example":"15808569874","description":"联系电话(必填)"},"referencePrice":{"type":"number","example":200.0,"description":"参考价格(必填，大于0的数字)"},"type":{"type":"integer","format":"int32","example":2,"description":"类型2旧货出售3需求(必填)"},"userId":{"type":"integer","format":"int64","example":10,"description":"发布用户ID(必填)"}}},"JunkRequirementVO":{"type":"object","properties":{"classification":{"type":"integer","format":"int32","example":2,"description":"类别2电器8家具"},"communityId":{"type":"integer","format":"int64","example":1,"description":"小区ID"},"context":{"type":"string","example":"求购一张书桌","description":"内容"},"junkRequirementId":{"type":"integer","format":"int32","example":1,"description":"主键ID"},"publishUserLink":{"type":"string","example":"15808569874","description":"联系电话"},"referencePrice":{"type":"number","example":200.0,"description":"参考价格"},"type":{"type":"integer","format":"int32","example":2,"description":"类型2旧货出售3需求"},"userId":{"type":"integer","format":"int64","example":10,"description":"发布用户ID"}}},"LoginDto":{"type":"object","required":["pwd","userName"],"properties":{"pwd":{"type":"string","example":"1234567a","description":"密码(必填)"},"userName":{"type":"string","example":"猪八戒","description":"用户名(必填)"}}},"MerchantDto":{"type":"object","required":["address","establishDate","legalPerson","licenseCode","licenseUrl","merchantName","merchantType","registerAuthority","tel","userId","validityDate"],"properties":{"address":{"type":"string","example":"湖南省长沙市岳麓区xx街道","description":"地址(必填，长度不能大于30)"},"establishDate":{"type":"string","example":"2021-04-02","description":"成立日期(必填，格式：yyyy-MM-dd)"},"legalPerson":{"type":"string","example":"韩信","description":"法人(必填，长度为1到5)"},"licenseCode":{"type":"string","example":"xh430646464sdfa","description":"证件号码(必填，长度为15到18)"},"licenseUrl":{"type":"string","example":"http://127.0.0.1/smarthome/aaa.jpg","description":"证件图片url(必填，长度不能大于100)"},"merchantName":{"type":"string","example":"青海文梅科技有限公司","description":"公司名(必填，长度为1到20)"},"merchantType":{"type":"integer","format":"int32","example":2,"description":"类型(2代理商3物业，必填)"},"registerAuthority":{"type":"string","example":"城中区派出所","description":"登记机关(必填，长度不能大于30)"},"tel":{"type":"string","example":"18888888888","description":"联系手机号码(必填)"},"userId":{"type":"integer","format":"int64","example":1,"description":"用户ID(必填)"},"validityDate":{"type":"string","example":"2033-05-02","description":"证件有效期(必填，格式为：yyyy-MM-dd)"}}},"OwnerBindDto":{"type":"object","required":["communityId","communityName","msgCode","ownerName","phone","pwd"],"properties":{"communityId":{"type":"integer","format":"int64","example":1,"description":"小区ID(必填)"},"communityName":{"type":"string","example":"八家湾","description":"小区名称(必填)"},"idCard":{"type":"string","example":"430661200105067412","description":"业主身份证号码(非必填)"},"msgCode":{"type":"string","example":"123456","description":"验证码(必填)"},"ownerName":{"type":"string","example":"张三","description":"业主名称(必填)"},"phone":{"type":"string","example":"15674589632","description":"手机号码(必填)"},"pwd":{"type":"string","example":"123456a","description":"密码(必填，长度为8到16)"}}},"OwnerDto":{"type":"object","required":["age","communityId","ownerName","phone","sex","userId"],"properties":{"age":{"type":"integer","format":"int32","example":20,"description":"整岁年龄(必填，为小于200的正整数)"},"communityId":{"type":"integer","format":"int32","example":1,"description":"小区ID(必填)"},"idCard":{"type":"string","example":"430665200011034156","description":"身份证号码(非必填)"},"ownerName":{"type":"string","example":"张三","description":"业主名称(必填，长度不能大于10)"},"phone":{"type":"string","example":"16612345678","description":"手机号码(必填)"},"remark":{"type":"string","example":"这是一个备注","description":"备注(非必填)"},"sex":{"type":"integer","format":"int32","example":0,"description":"性别0男1女(必填)"},"userId":{"type":"integer","format":"int64","example":1,"description":"用户ID(必填)"}}},"OwnerLoginDto":{"type":"object","required":["phone","pwd"],"properties":{"phone":{"type":"string","example":"13312345678","description":"手机号码(必填)"},"pwd":{"type":"string","example":"1234567a","description":"密码(必填)"}}},"OwnerRoomDto":{"type":"object","required":["ownerId","roomId","userId"],"properties":{"ownerId":{"type":"integer","format":"int64","example":1,"description":"业主ID(必填)"},"roomId":{"type":"integer","format":"int64","example":1,"description":"房间ID(必填)"},"userId":{"type":"integer","format":"int64","example":1,"description":"用户ID(必填)"}}},"OwnerRoomVO":{"type":"object","properties":{"orId":{"type":"integer","format":"int64","example":1,"description":"业主房屋ID"},"ownerId":{"type":"integer","format":"int64","example":1,"description":"业主ID"},"roomId":{"type":"integer","format":"int64","example":1,"description":"房间ID"}}},"OwnerVO":{"type":"object","properties":{"age":{"type":"integer","format":"int32","example":20,"description":"整岁年龄(必填，为小于200的正整数)"},"communityId":{"type":"integer","format":"int32","example":1,"description":"小区ID(必填)"},"idCard":{"type":"string","example":"430665200011034156","description":"身份证号码(非必填)"},"ownerId":{"type":"integer","format":"int64","example":1,"description":"业主ID(非必填)"},"ownerName":{"type":"string","example":"张三","description":"业主名称(必填，长度不能大于10)"},"phone":{"type":"string","example":"16612345678","description":"手机号码(必填)"},"remark":{"type":"string","example":"这是一个备注","description":"备注(非必填)"},"sex":{"type":"integer","format":"int32","example":0,"description":"性别0男1女(必填)"},"userId":{"type":"integer","format":"int64","example":1,"description":"用户ID(必填)"}}},"RentDto":{"type":"object","required":["checkIn","communityId","communityName","ownerName","ownerTel","paymentType","price","rentDesc","rentTitle","rentingType","roomId"],"properties":{"checkIn":{"type":"integer","format":"int32","example":1,"description":"入住类型1立即入住2需要预约(必填)"},"communityId":{"type":"integer","format":"int32","example":1,"description":"小区ID(必填)"},"communityName":{"type":"string","example":"八家湾小区","description":"小区名称(必填)"},"ownerName":{"type":"string","example":"张三","description":"业主名称(必填)"},"ownerTel":{"type":"string","example":"15765417896","description":"业主联系电话(必填)"},"paymentType":{"type":"integer","format":"int32","example":2,"description":"租金收取方式1押一付一2押一付三3押一付六(必填)"},"price":{"type":"number","example":800.0,"description":"每月租金(必填)"},"rentDesc":{"type":"string","example":"家电齐全，周边配套设置应有尽有，生活、上班都方便，只等你来！","description":"房源描述(必填)"},"rentTitle":{"type":"string","example":"豪华三房，拎包入住！","description":"出租标题(必填，长度为5到30)"},"rentingType":{"type":"integer","format":"int32","example":1,"description":"出租方式1整租2合租(必填)"},"roomId":{"type":"integer","format":"int32","example":1,"description":"房屋ID(必填)"}}},"RentVO":{"type":"object","properties":{"checkIn":{"type":"integer","format":"int32","example":1,"description":"入住类型1立即入住2需要预约"},"communityId":{"type":"integer","format":"int32","example":1,"description":"小区ID"},"communityName":{"type":"string","example":"八家湾小区","description":"小区名称"},"createTime":{"type":"string","format":"date-time","example":"2021-03-24 12:12:23","description":"创建时间"},"ownerName":{"type":"string","example":"张三","description":"业主名称"},"ownerTel":{"type":"string","example":"15765417896","description":"业主联系电话"},"paymentType":{"type":"integer","format":"int32","example":2,"description":"租金收取方式1押一付一2押一付三3押一付六"},"price":{"type":"number","example":800.0,"description":"每月租金"},"rentDesc":{"type":"string","example":"家电齐全，周边配套设置应有尽有，生活、上班都方便，只等你来！","description":"房源描述"},"rentId":{"type":"integer","format":"int32","example":1,"description":"主键ID"},"rentTitle":{"type":"string","example":"豪华三房，拎包入住！","description":"出租标题"},"rentingType":{"type":"integer","format":"int32","example":1,"description":"出租方式1整租2合租"},"result":{"type":"integer","format":"int32","example":0,"description":"结果0待租1已租"},"roomId":{"type":"integer","format":"int32","example":1,"description":"房屋ID"},"state":{"type":"integer","format":"int32","example":0,"description":"状态0待审核1通过2未通过"}}},"RoomDto":{"type":"object","required":["builtUpArea","communityId","layer","roomNum","roomStyle","unitId","userId"],"properties":{"builtUpArea":{"type":"number","example":90.0,"description":"建筑面积(必填，只能是大于0的数字)"},"communityId":{"type":"integer","format":"int32","example":1,"description":"小区ID(必填)"},"layer":{"type":"integer","format":"int32","example":15,"description":"所在层数(必填)"},"remark":{"type":"string","example":"这是一个备注","description":"备注(非必填)"},"roomNum":{"type":"string","example":"001","description":"房屋编号(必填，大于0的数字)"},"roomStyle":{"type":"string","example":"三室一厅","description":"户型(必填，长度为4到8)"},"unitId":{"type":"integer","format":"int64","example":1,"description":"单元ID(必填)"},"userId":{"type":"integer","format":"int64","example":1,"description":"用户ID(必填)"}}},"RoomVO":{"type":"object","properties":{"builtUpArea":{"type":"number","example":90.0,"description":"建筑面积"},"communityId":{"type":"integer","format":"int32","example":1,"description":"小区ID"},"layer":{"type":"integer","format":"int32","example":15,"description":"所在层数"},"remark":{"type":"string","example":"这是一个备注","description":"备注"},"roomId":{"type":"integer","format":"int32","example":1,"description":"房屋编号"},"roomNum":{"type":"string","example":"001","description":"房屋编号"},"roomStyle":{"type":"string","example":"三室一厅","description":"户型"},"unitId":{"type":"integer","format":"int64","example":1,"description":"单元ID"}}},"UnitDto":{"type":"object","required":["buildingId","floorage","layerCount","lift","unitNum","userId"],"properties":{"buildingId":{"type":"integer","format":"int32","example":1,"description":"楼ID(必填)"},"floorage":{"type":"number","example":160.0,"description":"单元建筑面积(必填，平方米，只能是大于0的数字)"},"layerCount":{"type":"integer","format":"int32","example":22,"description":"总层数(必填，只能是正整数)"},"lift":{"type":"integer","format":"int32","example":1,"description":"是否有电梯1有2无(必填)"},"remark":{"type":"string","example":"这是一个备注","description":"备注(非必填)"},"unitNum":{"type":"string","example":"001","description":"单元编号(必填，只能是数字)"},"userId":{"type":"integer","format":"int64","example":3,"description":"用户ID(必填)"}}},"UnitVO":{"type":"object","properties":{"buildingId":{"type":"integer","format":"int32","example":1,"description":"楼ID(必填)"},"floorage":{"type":"number","example":160.0,"description":"单元建筑面积(平方米)"},"layerCount":{"type":"integer","format":"int32","example":22,"description":"总层数"},"lift":{"type":"integer","format":"int32","example":1,"description":"是否有电梯1有2无"},"remark":{"type":"string","example":"这是一个备注","description":"备注"},"unitId":{"type":"integer","format":"int64","example":1,"description":"单元ID"},"unitNum":{"type":"string","example":"001","description":"单元编号"},"userId":{"type":"integer","format":"int64","example":3,"description":"用户ID"}}},"UserDto":{"type":"object","required":["phone","pwd","rePwd","userName","verificationCode"],"properties":{"phone":{"type":"string","example":"18650512136","description":"手机号码(必填)"},"pwd":{"type":"string","example":"123456a","description":"密码(必填,长度为8到16位,由数字和字母组成)"},"rePwd":{"type":"string","example":"123456a","description":"确认密码(必填)"},"userName":{"type":"string","example":"你猪八戒","description":"用户名(必填,长度为4到6位)"},"verificationCode":{"type":"string","example":"611203","description":"验证码(必填)"}}},"UserVO":{"type":"object","properties":{"id":{"type":"integer","format":"int64","example":1,"description":"用户ID"},"phone":{"type":"string","example":"18614256398","description":"手机1111号码"},"userName":{"type":"string","example":"猪八戒","description":"用户名"}}}}}